<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!--[if IE 6]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie6" dir="ltr" lang="ko-KR"> <![endif]-->
  <!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" dir="ltr" lang="ko-KR"> <![endif]-->
  <!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9 ie8" dir="ltr" lang="ko-KR"> <![endif]-->
  <!--[if IE 9]> <html class="no-js lt-ie10 ie9" dir="ltr" lang="ko-KR"> <![endif]-->
  <meta charset="UTF-8">
  <title>P2C POS 시스템</title>
  <!-- SEO 검색 엔진 최적화 -->
  <meta name="description" content="Slim &amp; Sleek Style POS System P2C 100 Serie">
  <meta name="keywords" content="P2C, POS, 포스, 시스템">
  <meta name="author" content="yamoo9">
  <!-- 모바일 대응 -->
  <meta name="viewport" content="width=1020px, initial-scale=1">
  <!-- 스타일 로드 -->
  <link rel="stylesheet" href="css/style.css">
  <!-- 스크립트 로드 -->

</head>
<body>
<!--[if lt IE 8]>
  <p class="browserupgrade">사용 중인 웹 브라우저는 <strong>보안이 보장되지 않는 오래되었습니다</strong>.
  부디 <a href="http://browsehappy.com/">사용 중인 웹 브라우저를 업그레이드</a>하셔서 안전하고 빠른 웹 서핑을 하시길 권합니다.</p>
<![endif]-->

</body>
</html>