/*
 * --------------------------------
 * Grid System 디자인
 * --------------------------------
 * 1000px
 * 12개 컬럼
 * 컬럼 65px
 * 거터 20px
 * 거터 방향 after
 */
body {
  margin: 0;
}
/**
 * --------------------------------
 * 컨테이너 모듈
 * ----------------------------- */
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}