body {
  margin: 0;
}

.reset-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.lt-ie8 .clearfix { zoom: 1; }